.mol-card__Format1 {
	margin-bottom: 2rem;
	.Format1__title {
		margin: 1rem 0;
	}
	.Format1__time {
		color: #c3c2c6;
	}
	.Format1__time,
	.Format1__title {
		font-family: "Roboto";
		font-weight: 700;
		font-size: 1.6rem;
	}
}