.wrapper-1060 {
	//box-shadow: 0 10px 30px 0 #bbb;
	box-shadow: 0 3px 22px 0 rgba(187, 187, 187, 0.7);
	width: 100%;
	max-width: 1060px;
	margin: auto;
	padding: 10px;
	@include cell1000p{
		padding: 3rem 0;
	}
}
.pl-2 {
	@include tablet {
		padding-left: 2rem;
	}
}

[class*="org-section-bloque"]:not(.org-section-bloques__SliderMain) {
	margin-bottom: 2rem;
}
.mol-card__Format1 {
	img {
		width: 100%;
		@include cell1000p {
				width: auto;
		}
	}
}