@media (max-width: 768px) {
	.col-1-xs {
		width: 5%; }
	.col-2-xs {
		width: 10%; }
	.col-3-xs {
		width: 15%; }
	.col-6-xs {
		width: 30%; }
	.col-7-xs {
		width: 35%; }
	.col-8-xs {
		width: 40%; }
	.col-9-xs {
		width: 45%; }
	.col-11-xs {
		width: 55%; }
	.col-12-xs {
		width: 60%; }
	.col-13-xs {
		width: 65%; }
	.col-14-xs {
		width: 70%; }
	.col-15-xs {
		width: 75%; }
	.col-16-xs {
		width: 80%; }
	.col-17-xs {
		width: 85%; }
	.col-18-xs {
		width: 90%; }
	.col-19-xs {
		width: 95%; }
	.col-two-thirdpart-xs{
		width: 66.66%; }
}
@media (min-width: 768px) and (max-width: 1000px) {
	.col-1-sm, .col-2-sm, .col-3-sm, .col-4-sm, .col-5-sm, .col-6-sm, .col-7-sm, .col-8-sm, .col-9-sm, .col-10-sm, .col-11-sm, .col-12-sm, .col-13-sm, .col-14-sm, .col-15-sm, .col-16-sm, .col-17-sm, .col-18-sm, .col-19-sm, .col-20-sm, .col-thirdpart-sm, .col-300-sm, .col-300-offset-sm, .col-310-sm, .col-310-offset-sm, .col-555-offset-sm, .col-735-offset-sm, .col-833-offset-sm, .col-457-offset-sm, .col-two-thirdpart-sm {
		float: left; }
	.col-1-sm {
		width: 5%; }
	.col-2-sm {
		width: 10%; }
	.col-3-sm {
		width: 15%; }
	.col-6-sm {
		width: 30%; }
	.col-7-sm {
		width: 35%; }
	.col-8-sm {
		width: 40%; }
	.col-9-sm {
		width: 45%; }
	.col-11-sm {
		width: 55%; }
	.col-12-sm {
		width: 60%; }
	.col-13-sm {
		width: 65%; }
	.col-14-sm {
		width: 70%; }
	.col-15-sm {
		width: 75%; }
	.col-16-sm {
		width: 80%; }
	.col-17-sm {
		width: 85%; }
	.col-18-sm {
		width: 90%; }
	.col-19-sm {
		width: 95%; }
	.col-two-thirdpart-sm{
		width: 66.66%; }
}
@media (min-width: 1000px) {
	.col-1-md, .col-2-md, .col-3-md, .col-4-md, .col-5-md, .col-6-md, .col-7-md, .col-8-md, .col-9-md, .col-10-md, .col-11-md, .col-12-md, .col-13-md, .col-14-md, .col-15-md, .col-16-md, .col-17-md, .col-18-md, .col-19-md, .col-20-md, .col-thirdpart-md, .col-300-md, .col-300-offset-md, .col-310-md, .col-310-offset-md, .col-555-offset-md, .col-735-offset-md, .col-833-offset-md, .col-457-offset-md, .col-two-thirdpart-md{
		float: left; }
	.col-1-md {
		width: 5%; }
	.col-2-md {
		width: 10%; }
	.col-3-md {
		width: 15%; }
	.col-6-md {
		width: 30%; }
	.col-7-md {
		width: 35%; }
	.col-8-md {
		width: 40%; }
	.col-12-md {
		width: 60%; }
	.col-13-md {
		width: 65%; }
	.col-14-md {
		width: 70%; }
	.col-15-md {
		width: 75%; }
	.col-17-md {
		width: 85%; }
	.col-18-md {
		width: 90%; }
	.col-19-md {
		width: 95%; }
	.col-two-thirdpart-md{
		width: 66.66%; }
}